.sideBar{
    height: 100%;
    width: 15% !important;
    min-width: 10% !important;
    background-color: #343a40!important;
    position: fixed;
}
.imgUser{
    width: 75px !important;
    height: 75px !important;
    border-radius: 40px;
    margin-top: 15px;
}
.descUser{
    width: 100% !important;
    border-radius: 40px;
    margin-right: 50;
}
.descUser p{
    height: 5px !important;
}
.HeaderUser{
    height: 150px;
}